 <h2>Cadastro de tecnologias</h2>

         <div class="form-group col-md-2">
          <label>Nome da Tecnologia</label>
            <input class="form-control" [(ngModel)]="tecnologiaObject.nome"   />
          </div>
         <div class="form-group col-md-1">
           <label>Sigla</label>
            <input class="form-control" [(ngModel)]="tecnologiaObject.sigla"   />
          </div>
         <div class="form-group col-md-4">
            <label>Site</label>
            <input class="form-control" [(ngModel)]="tecnologiaObject.site"   />
          </div>
          <div class="form-group col-md-2">
            <label>Situação</label>
            <input class="form-control" [(ngModel)]="tecnologiaObject.situacao"   />
          </div>

          <div *ngIf="!edit" class="form-group col-md-1">
            <button class="btn btn-primary" (click)="salvarTecnologia(tecnologiaObject)">Salvar</button>
          </div>
          <div *ngIf="edit" class="form-group col-md-1">
            <button class="btn btn-primary" (click)="editarTecnologia(tecnologiaObject, true)">Editar</button>
          </div>

 
          <table class="table table-hover table-striped">
             <tr>
                <th>
                    Nome
                </th>
                <th>
                    Sigla
                </th>
                <th>
                    Site
                </th>
                <th>
                    Situacao
                </th>
                    
                <th>
                    Operação
               
                </th>
             </tr>
             <tr *ngFor="let tecnologia of tecnologias; let i = index">
                <td>
                    {{tecnologia.nome}}
                </td>
                <td>
                    {{tecnologia.sigla}}
                </td>
                <td>
                    {{tecnologia.site}}
                </td>
                <td>
                    {{tecnologia.situacao}}
                </td>
                
                <td>
                    <button class="btn btn-primary" (click)=editarTecnologia(tecnologia)>Editar</button>
                
                    <button class="btn btn-danger" (click)="deletarTecnologia(tecnologia._id, i)">Deletar</button>
                </td>
             </tr>
          </table>
