 <h2>Cadastro de perfis</h2>
          
        <a class="btn btn-primary" routerLink="/perfil-add">Novo Perfil</a>  

 
          <table class="table table-hover table-striped">
             <tr>
                 <th class="col-md-2">
                    Nome
                </th>
                <th class="col-md-2">
                    Operações
                </th>
             </tr>
             <tr *ngFor="let perfil of perfis; let i = index">
                <td>
                    {{perfil.nome}}
                </td>
                <td>
<!--                    <button class="btn btn-primary" (click)=editarPerfil(perfil)>Editar</button>-->
                    <a class="btn btn-primary" routerLink="/perfil-edit/{{perfil._id}}">Editar</a>
                    <button class="btn btn-danger" (click)="deletar(perfil._id, i)">Deletar</button>
                </td>
             </tr>
          </table>
<!--

<h2>Listagem de perfis</h2>
    <table class="table table-hover table-striped">
       <tr>
          <th>
              Nome do Perfil
          </th>
       </tr>
       <tr *ngFor="let perfil of perfis">
          <th>
              {{perfil.nome}}
          </th>
       </tr>
    </table>-->